.nav-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  font-weight: bold;
  color: grey;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999; /* Make sure it stays above content */
}

.logo {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Covers entire area */
  background-position: center; /* Centered image */
  background-repeat: no-repeat;
  background-image: url("/Users/imswornim/Documents/SideProjects/sendeasy-client/src/assets/mainLogo.png");
}

.heroSection {
  padding: 30px;
  color: white;
  height: 300px;
  background-image: url("./assets/wallpaper.jpg");
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.redText {
  color: orange;
}

.cardContainer {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 30px;
}

.btns {
  margin-top: -40px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: self-start;
  border: 1px solid black;
  box-shadow: 1px 1px 18px #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.htmlLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.htmlLogo:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.flexText {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.nav-link.active:hover {
  background-color: rgba(0, 119, 182, 0.2);
}

.nav-link {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 16px;
  border-radius: 6px;
  color: grey;
  font-weight: normal;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(0, 119, 182, 0.1);
}

.nav-link.active {
  color: #ffffff;
  background-color: #dd5c3c;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 16px;
}

.footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #333;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}
